
<div class="jumbotron vertical-center">

<div class="container">
    <div class="row">
        <div class="col">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="reset-password-form">
                <h2>Reset Password Form</h2>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your new Password</mat-label>
                    <input matInput type="password" formControlName="newPassword">
                </mat-form-field>
                
            
                <button type="submit" mat-raised-button color="primary">Reset Password</button>
            </form>
        </div>
    </div>
</div>
</div>


