

<div class="jumbotron vertical-center">
<div class="container">
    <div class="row">
        <div class="col">
            <div *ngIf="!flag">
            <form [formGroup]="resetPasswordRequestForm" (ngSubmit)="sendPasswordRequest()" class="reset-password-request-form">
                <h2>Reset pasword request Form</h2>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your Email</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>
                 
                <button type="submit" mat-raised-button color="primary">Send Mail</button>
            </form>
        </div>
        <div class="center">
            <h2 *ngIf="flag">Check your email!!</h2>
        </div>
        </div>
    </div>
</div>
</div>
